
h1 {
    padding: auto;
    color: #ffffff;
}
p {
    max-width: 300px;
    margin: 10px auto;
}
hr  {
    margin: 10px auto;
}
.seccion_header {
    font-style: oblique;
    background-image: linear-gradient(-45deg, #ffc796da 0%, #ff6b95d3 100%);
    background-color: rgba(0, 0, 0, 0.5);
}
.block_divs {
    display: flex;
    justify-content: center;
}
.block_divs img {
    width: min(500px, 100%);
}
.btn_back {
    background-image: linear-gradient(-45deg, #ffc796da 0%, #ff6b95d3 100%);
}
.texto_divs {
    text-align: center;
}
.texto_divs img {

    width: min(140px, 100%);
}
